<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The <a href="http://www.hoofersailing.org/?q=about">Sail Together</a>
  is a project to connect sailors and help more people enjoy the sport of sailing
  with <a href="http://www.hoofersailing.org/?q=about">Ruby on Rails</a>. Friends who SAILTOGETHER stay together. 
</p>