<% provide(:title, 'Help') %>
<h1>Need a Lifeline?</h1>
<p>
  Man/woman over board!! Need help? We're your lifeboat for all boats runamuck. This application lets sailors posts requests to find boats and people to sail with anyday of the week! 
  <a href="http://www.hoofersailing.org/?q=instruction/safety">Rails Tutorial help page</a>.
  Need help on this app? 
  <a href="http://www.hoofersailing.org/?q=instruction/safety">Throw me a lifeline!</a>
</p>