<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Write a request, like:
    Looking for crewmates for a Saturday daysail on my J-29. Booze provided." %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>